@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-black/80;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-700;
}

.drawer-open {
  @apply -translate-x-96 duration-200;
}
